<p><%= user.displayName %>, here are your available XNATs:</p>

<% xnats.forEach((element, idx) => { %>
  <p>
    <button type="button" name=<%= element.instance %> id=<%= element.id %> value=<%= element.url %> >
      <%= element.instance %>
    </button>
  </p>
<% }); %>

<p>
  <a href="/logout">Log out</a>
</p>

<script src="js/xnats.js"></script>
